.date-picker-input {
  p {
    color: red;
    background-color: #f5f6f9;
    font-family: Gilroy-Regular;
    padding-left: 10px;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
  }
  label#label-text-label {
    color: #4f4f4f !important;
    font-family: Gilroy-Medium;
    font-weight: 800;
  }
}
