@import "../../variables";

.button-container {
  .btnGroup {
    .primaryButton {
      background-color: $secondary-color;
    }
    .primaryButton:hover {
      background-color: $secondary-color-hover;
    }
    .cancel-button {
      border-color: $secondary-color;
      color: $secondary-color;
    }
    .cancel-button:hover {
      border-color: $secondary-color;
      color: $secondary-color;
    }
  }
}
