.side-bar-back {
  margin: 20px;
  color: #adb8bf;
}

.side-bar-back:hover {
  margin: 20px;
  color: #ff5e00;
}

.side-list span {
  color: rgb(49, 49, 49);
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-weight: 500;
  height: 22px;
  letter-spacing: 0px;
  width: 100%;
}

.side-bar-list span {
  color: rgb(49, 49, 49);
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: bold;
  height: 22px;
  letter-spacing: 0px;
  width: 100%;
}

.sidebar-divider {
  width: 250px;
}

.side-bar-icon-hover {
  color: #ff5e00;
  font-size: 18px !important;
  font-weight: bold !important;
}
.side-bar-icon {
  color: #adb8bf;
  font-size: 16px !important;
}
