$primary-color: #1a4198;
$secondary-color: #ff7727;

$primary-color-hover: #2952aa;
$secondary-color-hover: #ef8e56;

$border-normal-color: #c1c9cf;
$border-focused-color: #ff5e00;
$text-field-focused-label: #4f4f4f;

$white: #ffffff;
$table_header_cell: #4968ad;
$table_header_background: #f5f6f9;
$table_row_background: #eaedf4;
$table_shadow: #91aeb8;

$drop-down-icon: #4a5052;

// -- Green --- success
$success_primary: #b1decd;
$success_secondary: #ffd8d8d8;

// ---red --- danger/failure
// -- Failure --
$danger_primary: #ff1744;
$danger_secondary: #f44336;

$failure_primary: #d5011b;
$failure_secondary: #616161;

// -- Warning -- yellow
$warning_primary: #ffdf00;
$warning_secondary: #ff9800;

// --validation/reject --
$reject_primary: #ffefe3;
$reject_gray: #9e9e9e;

// row color
$table_row_title: #efebff;
